*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    background-color: #f2f5ff;
}
html{
    scroll-behavior: smooth;
}
/* Nav header */
header{
    width: 100%;
    height: 50px;
    background-color: #f2f5ff;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    text-decoration: none;
    position:fixed;
    z-index: 100;
}
header a img{
   height: 40px;
   width: 40px;
   border-radius: 100%;
    
}
header nav ul{
    display: flex;
    align-items: center;
}

header nav ul li{
    list-style: none;
    padding-left: 8px;
}

header nav ul li a{
    color: #3d3d3d;
    text-decoration: none;
}

/* hero section */
.hero{
    width: 100%;
    height: 500px;
    padding: 100px 20px;
    background-image:   linear-gradient( rgba(152, 166, 240, 0.52), rgba(88, 85, 88, 0.73)), url(../photos/useful6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #f1f1f1;
    position: relative;
}
.hero-left-content{
    margin-top: 70px;
   
}
.hero-left-content h1{
    font-size: 12px;
    padding: 50px 30px;
}
.hero-left-content h2:nth-of-type(3){
    font-size: 25px;
    padding: 7px 0;
    text-align: center;
    color:  orange;
    margin-bottom: 15px;
   
}
.hero-left-content h3{
    text-align: center;
    font-size: 15px;
}



.hero-left-content h2:nth-of-type(1){
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
    
}
.hero-left-content h2:nth-of-type(2){
    font-size: 15;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    
}
.hero-left-content p{
    padding: 2px 35px 0;
}



/* Potfolio */
.potfolio{
    width: 100%;
    padding: 50px 20px;
}
.potfolio h2{
    
    text-align: center;
    color: teal;
   
  
    
}
.potfolio h3{
    
  
    color: teal;
  
    
}
.project-card{
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
}
.project-image img{
    width: 100%;
    height: 250px;
    background-color: #363636;
    border-radius: 10px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.261);
}
.project-content{
    margin-top: 5px;
    margin-bottom: 30px;
}



/* About */
.about{
    width: 100%;
    padding: 50px 20px;
    background-color: #eee;
    display: flex;
    
}
.about-content{
    padding: 8px 0;
    margin-bottom: 20px;
    

}
.believe{
    width: 130px;
    margin-top:  20px;
    padding: 8px;
    border: none;
    color: #fff;
    border-radius: 6px;
   font-size: 15px;
    cursor:pointer;
    text-decoration: none;
    
}
.about-image{
    width: 100%;
    height: 150px;
    background-color: #363636;
    border-radius: 10px;
    margin-top: 20px;
    margin-top: 30px;
   
}

/* our mission */
.mission{
    padding: 50px 20px;
    /* margin-left: 15px; */
    }
/* Service */
.potfo  p{
    /* width: 170px; */
    display: inline-block;
    margin: 10%;
    margin-left: 0%;
    line-height: 25px;
}
.mission h3{
    color: teal;
}
/* pastors */
.pastors{
    width: 100%;
    height: 1100px;
    display: block ;
    background-color: rgb(230, 225, 216);
    padding: 50px 20px;
    margin-bottom: 40px;
    border-top-left-radius: 10px;
}
.pastors .wrapper{ 
    margin: 5%; 
}
.pastors .wrapper div p{
    margin-top: 0%;
  
}
.pastors .wrapper div p b{
    color: rgb(110, 110, 136)
}
.pastors h2{
    color: darkblue;
}
.pastors .wrapper .pst  .p{
   
    margin-left: 15px;
   
}
.pastors .p p{
     margin-left: 45%;
    
}
.pastors .pst div{
    height: 200px;
    width: 200px;
    margin-top: 100px;
    /* margin-bottom: 30px; */
    margin-left: 17%;
    border-radius: 100%;
    box-shadow: 2px 0px 0px rgba(0,0,0,0.261);
}
.pastors .pst div img{
    height: 200px;
    width: 200px;
    border-radius: 100%;
}


/* contact */
*{
    margin-top: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.form-container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
iframe{
    height: 520px;
    margin-bottom: 10px;
    width: 50%;
    
}
.contact-details div{
    height: 600px;
    width: 310px;
    margin-top: 35px;
   
}
form{
        background-color: teal;
        display: flex;
        flex-direction: column;
        padding: 20px 20px;
        width: 50%;
        /* max-width: 600px; */
        border-radius: 10px;
        margin-top: -0%;
}
form h3{
    color: #555;
    font-size: 40px;
    margin-bottom: 20px;
}
form input, form textarea{
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background-color: #fff;
    font-size: 16px;
    border-radius: 7px;
}
form button{
    padding: 15px;
    background-color: #81817d;
    color: #fff;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
    
}
.contact{
    width: 100%;
    padding: 30px 20px;
    background-color: #fff;
    margin-top: 50px;
    display: block;
    border-top-left-radius: 70px;
    
}
.contact-details h3{
    padding: 8px;
}

.contact-details ul li{
    list-style: none;
    padding: 4px 0;
}
.contact-details ul li img:nth-of-type(1){
    width: 30px;
    height: 30px;
}
.contact-details ul li img:nth-of-type(2){
    width: 20px;
    height: 20px;
}
.contact-details ul li img:nth-of-type(3){
    width: 10px;
    height: 10px;
}
.contact form{
    width: 100%;
    margin-top: 30px;
    background-color:rgb(195, 199, 199);
    border-radius: 10px;
    padding: 20px;
    
    
    
}
.form-controls{
    margin-bottom: 10px;
}

.form-controls label,
.form-controls input,
.form-controls textarea{
    display: block;
    width: 100%;
    color: #363636
}
.form-controls input,
.form-controls textarea{
    border-radius: 5px;
    border: none;
    padding: 7px 8px;
    margin-top: 3px;
}
.contact-button{
    margin-top:  20px;
    padding: 8px;
    border: none;
    color: #fff;
    border-radius: 6px;
    cursor:pointer
}
.form-contents span p{
    font-size: 15px;
    margin-bottom: 9px;
}
iframe{
    width: 100%;
    margin-top:  35px;
    margin-bottom:  35px;
}
footer{
    background-color: #363636;
}
footer p a{
    color: #fff;
}

/* end of contact */

/* Footer */
footer{
    width: 100%;
    padding: 5px 0;
    background-color: #363636;
    text-align: center;
    color: #fff;
}
footer p{
    font-size: 13px;  
}

/* Media query styles for desktop screen */
@media(min-width: 750px){
    /* Body */
    body{
        font-size: 15px;
    }
    h2{
        font-size: 30px;
    }
    /* Header styles */
    header{
        height: 60px;
        padding: 15px 100px;
    }
    .hero{
        padding: 200px 100px;
    
    }
    /* Soocials style */
    .hero .socials{
        margin: 200px 100px;
    }
    .hero h1{
        font-size: 16px;
    }
    .hero-left-content{
        margin-top: -15px;
    }
    .hero h2{
        font-size: 30px;
    }
    .hero h2:nth-of-type(3){
        font-size: 45px;
    }
    .hero h2:nth-of-type(1){
        font-size: 30px;
    }
    .hero h3{
        font-size: 18px;
    }
    
    /* pastors */
.pastors{
    width: 100%;
    height: 550px;
   display: flex;
   
}
.pastors  .wrapper{
    display: flex;
   
}
.pastors .wrapper .pst{
    margin: 8%;
    margin-left: 5px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.pastors .wrapper .pst div{
   margin: 20%;
}
.pastors .wrapper .pst div img{
    height: 200px;
    width: 200px;
    border-radius: 100%;
}
.pastors .wrapper .p p{
     margin-left: 42%;
     
    }
    .pastors h2{
        padding-left: 65px;
        font-size: 20px;
    }

    /* Potfolio */
.potfolio{
    padding: 80px 100px;
}
.project-card{
    margin-top: 40px;
    padding: 15px;
    display: flex;
}
.project-image{
    width: 50%;
    
    margin-right: 30px;
}
.project-content{
    width: 50%;
    margin-top: 0;
}
.project-content p{
    margin-top: 8px;
}


.button{
    
    padding: 8px 30px;
}
/* About */
.about{
    padding: 80px 100px;
    display: flex;
}
.about-content{
   width: 50%;
   margin-right: 30px;
}
.about-image{
    width: 50%;
}
.about-button{
    padding: 8px 30px;
}
/* our mission */
    .mission{
    padding: 50px 20px;
    margin-left: 80px;
    }
/* contact */
*{
    margin-top: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.contact{
    
    padding: 80px 100px;
    
    
    
}  

.contact-details{
    width: 40%;
}
.contact form{
    width: 100%;
    margin-top: 30px;
    
}
.form-controls{
    margin-bottom: 10px;
}


.contact-button{
    padding: 8px 30px;
}
.form-contents{
    display: flex;
}
.form-contents span:nth-child(1){
    margin-right: 30px;
}
.form-contents span p{
    font-size: 17px;
    margin-bottom: 9px;
}
iframe{
    margin-bottom: 10px;
    width: 800px;
    height: 400px;
    
}
} 






